.container {
  padding: 0 2rem;
  background-color: floralwhite;
}

.link_container {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  margin-top: 30px;
}

.link_container * {
  margin: 0.5rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}